@using Demo.Models
@{
    ViewBag.Title = "ProfileShop";
    Layout = "~/Views/Shared/_LayoutShopmanager.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

    <title>Profile Admin</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/owl-carousel/owl.carousel.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/nice-select/css/nice-select.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendor/fancybox/css/jquery.fancybox.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/virtual.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/minibar.virtual.css">
</head>
<body class="theme-red">


    <div class="vg-main-wrapper">
        <div class="vg-page page-home" alt="Image" id="home" style="background-image: url(/Content/assets/img/bg_image_2.jpg); margin-bottom: 100px">
            @if (Session["CuaHang"] != null)
            {

                Cuahang u = (Cuahang)Session["CuaHang"];
                <div class="caption wow zoomInUp">
                    <h1 class="fw-normal">Đây là</h1>
                    <h2 class="fw-medium fg-theme">Cửa hàng @u.tenCH</h2>
                    <p class="tagline">Một số thông tin của bạn</p>
                </div>
            }
        </div>

        <!-- Page About -->
        <div class="vg-page page-about" id="about">
            <!-- Profile -->
            <div class="container py-3">
                @if (Session["CuaHang"] != null)
                {

                    Cuahang u = (Cuahang)Session["CuaHang"];
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-place wow zoomIn">
                                <img src="~/Image/ImageUpload/@u.anh" alt="Photo Profile">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="caption wow fadeInRight">
                                <h2 class="fg-dark">@u.tenCH</h2>                                
                                <p>Vừa lòng khách đến</p>
                                <p> Hài lòng khách đi</p>
                                <ul class="theme-list">
                                    <li class="fg-dark"><b>From:</b> @u.diachi</li>
                                    <li class="fg-dark"><b>SĐT:</b>@u.sdt</li>   
                                </ul>
                                <a href="@Url.Action("Editcuahang","CuaHang",new { id=u.maCH })"><button class="btn btn-theme btn-rounded">Chỉnh sửa</button></a>

                            </div>
                        </div>
                    </div>
                }
            </div> <!-- End profile -->

            <div>
                <a href="@Url.Action("ManagerShop","Home")"><button class="btn btn-theme btn-rounded">Trở về trang quản lý</button></a>
            </div>

            <script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>

            <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>

            <script src="~/Content/assets/vendor/owl-carousel/owl.carousel.min.js"></script>

            <script src="~/Content/assets/vendor/perfect-scrollbar/js/perfect-scrollbar.js"></script>

            <script src="~/Content/assets/vendor/isotope/isotope.pkgd.min.js"></script>

            <script src="~/Content/assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>

            <script src="~/Content/assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>

            <script src="~/Content/assets/vendor/wow/wow.min.js"></script>

            <script src="~/Content/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

            <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

            <script src="~/Content/assets/js/google-maps.js"></script>

            <script src="~/Content/assets/js/minibar-virtual.js"></script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>
        </div>
    </div>

</body>
</html>

